:root {
    --main-blue: #197f9b;
    --main-light-blue: #5ea4b8;
    --main-lighter-blue: hsl(189, 19%, 79%);
    font-family: 'Montserrat', sans-serif !important;
    background-color: rgb(24, 24, 24);
}


.header {
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 50;
    left: 200px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    width: 1040px;
}
.header-logo {
    display: flex;
    align-items: flex-end;
    
}
.logo {
    height: 90px;
    /* margin-left: 30px; */
}

a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 2px 3px 5px black, 0 0 1em white;
}
#app {
    position: relative;
    top: 100px;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
}

.sidebar {
    /* background-color: var(--main-blue) !important; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
}

.form-control{
    margin-bottom: 10px;
}
.btn {
    background-color: var(--main-light-blue);
    border-color: black;
    color: black;
}
.btn:hover{
    background-color: var(--main-lighter-blue);
    border-color: black;
    color: black;
}

.parallax {
    background-image: url("../assets/sky.jpg");

    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-lower {
    background-image: url("../assets/sky.jpg");

    min-height: 100px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-second{
    background-image: url("../assets/tree.jpg");

    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
